form {
    background-color: lightgray;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}
form > div {
    display: flex;
    justify-content: space-between;
    height: 25px;
}
label {
    margin-right: 10px;
}
input {
    margin-bottom: 5px;
    width: 200px;
}
